body {margin: 0; padding: 0;}

.titulo-secao{
    text-align: center;
}

.caixa-flex{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.revert{
    flex-direction: row-reverse;
}

.flex-coluna{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin:90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/*********************Header***********************/
header {
    z-index: 1000;
    top: 0;
    border-top: 5px solid #ffc823;
    background: rgba(0, 0, 0, 0.7);
    height: 90px;
    width: 100%;
    position: fixed;
    transition: height 0.6s;
    display: block; 
    
}

#logotipo{
    width: 20em;
    margin: 0 ;
    transition: width 0.6s;
    padding: 0;
}

/*-----------------------------------------------------------*/


/*********************Apresentação***********************/

.content{
    position: fixed;
    top: 65%;
    width: 60%;
}

@media screen and (max-width: 650px) {
    .content{
         width: 85%;
         top: 30%;
        }
    .content p{
        font-size: 14px;
    }     
}


.content p{
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    font-size: 16px;
    padding: 20px 30px 20px 20%;    
}

.apresentacao{
    z-index: -3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    
}

#myVideo{
    min-width: 100%; 
    min-height: 100%;
   
}

/*-----------------------------------------------------------*/


/*********************Conteudo***********************/
.conteudo {
    position: absolute;
    top: 90%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;}

/*-----------------------------------------------------------*/



/*********************sessão profissional***********************/

.profissional{
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px 35px 15px !important;
}

.profissional p{
    padding: 10px;
}

.profissional .panel{
    cursor: pointer;
}


/*-----------------------------------------------------------*/


/*********************EXPERIENCIAS***********************/
.experiencias{
    padding: 20px 5%;
    background-color: #9e9d9b;
    box-shadow: 2px -5px 15px black;
}


.experiencias a{
    font-size: 16px !important;
    color: #ffc823 !important;
}

.experiencias .img{
    max-width: 350px;
    margin: 5px 20px;
    border: 3px solid #fff;
    border-radius: 3%;
    box-shadow: #000000 2px 2px 10px;
}

@media screen and (max-width: 500px){
    .experiencias .img{
        max-width: 250px;
        margin: 0 auto;
    }
    .experiencias .text{
       padding:20px;     
    }

}

.experiencias .text{
    max-width: 450px;
    text-align: justify;
    margin: 0 auto;
}

/*-----------------------------------------------------------*/


/*********************HABILIDADES***********************/
.sesao-habilidade{
    padding: 20px 5%;
    background-color: #000000;
    color: #fff;
}


.cont{
    width: 100%;
    margin: 0 auto;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cont h2{
    text-align: center;
}

.habilidade {
    text-align: center;
    max-width:600px;
    padding: 10px;
    margin: 0 auto;
}

.curso {
    margin: 25px auto 10px auto;
    max-width :450px;
    background-color: #dbac1d;
    padding: 10px;
    color: #000000 !important; 
    border-radius: 10px; 
}


/*-----------------------------------------------------------*/


/*********************FOOTER***********************/

.p-resumo{
font-size: 12px;
   margin: 0 auto;
   text-align: justify;
   padding: 10px ;
   flex-grow: 1;
   max-width: 500px;
    
}

.footer{
    z-index: 540;
    background-color: #000000a2;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    color:white;
}

.footer i, .footer a{
    padding: 5px 30px;
    font-size: 40px;
    color:white;  
}

.contato{
    text-align: center;
    margin: 0 auto;
    font-size: 18px; 
    padding: 5px 10px;
}

/*-----------------------------------------------------------*/


